@import url(../css/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
:root {
    --fm-1: "Cera Round Pro";
    --fm-2: "Open Sans";
    --fm-3: "Inter";
    --fm-4: "Roboto";
    --primary-color:#BB2339;
    --white:white;
    --commentsblack:#242424;
    --textsblack:#333333;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
/* Header */
.header{
    background-color: var(--primary-color);
}

.nav__link{
    color: var(--white);
    font-family: var(--fm-2);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    padding: 10px 20px;
    transition: .5s;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
}
.nav__link:hover{
    
    background-color: var(--white);
    color: var(--primary-color);
}
.nav__link-btn{
    color: var(--white);
    font-family: var(--fm-2);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    border: 1px solid var(--white);
    padding: 10px 40px;
    border-radius: 100px;
    transition: .5s;
    
}
.nav__link-btn:hover{
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}




/* Header */



/* Main */

/* Menu */
.menu{
    padding: 120px;
}
.links{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.link{
    color: #B0B0B0;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: capitalize;
}
.linkk{
    display: flex;
    column-gap: 10px;
}

.link:hover{
    color: var(--primary-color);
}
.linkk::after{
    content: "";
    display: block;
    width: 1.5px;
    height: 18px;
    background: #B0B0B0;
}
.card__desc{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}
.card__desc-title{
    color: var(--commentsblack);
    font-family: var(--fm-2);
    font-weight: 600;
    font-size: 18px;
}
.card__desc-img{
    width: 108px;
    height: 20px;
    transform: translateX(85px);
}
.card__desc-cost{
    color: var(--primary-color);
    font-family: var(--fm-2);
    font-weight: 700;
    font-size: 24px;
}
.basicwindow{
    padding: 60px 0;
    display: flex;
    column-gap: 40px;
}
.basicwindow-left{
    display: flex;
    flex-direction: column;
    row-gap: 544px;

}
.basicwindow-right{
    display: flex;
    column-gap: 32px;
    row-gap: 40px;
}

.iconn{
    width: 90px;
    height: 90px;
    transform: translateX(310px);
}
.basicwindow__menu-card{
    width: 428px;
    height: 844px;
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    row-gap: 20px;
}
.menu__card-title{
    width: 348px;
    color: var(--white);
    font-family: var(--fm-1);
    font-weight: 500;
    line-height: 54px;
    font-size: 40px;
    
}
.nav__link-btn{
    max-width: 150px;
    width: 100%;
}

.menu__cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 20px;
}
.menu__card{
    max-width: 300px;
    width: 100%;
    height: 396px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10);
}


/* Menu */

/* Customers */

.customers{
    background: rgba(244, 244, 244, 1);
    position: relative;
    padding-bottom: 90px;
}
.customers__basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px 0;
    row-gap: 8px;
}

.customers__mini-title{
    font-family: var(--fm-1);
    color: var(--commentsblack);
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.customers__title{
    font-family: var(--fm-1);
    color: var(--commentsblack);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1.44px;
    text-transform: capitalize;
    line-height: 62.4px;
}
.customers__cards{
    display: flex;
    column-gap: 35px;
}
.customers__card{
    max-width: 410px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(51, 51, 51, 0.10);
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 30px 50px 20px 20px;
    row-gap: 15px;
}
.card__title{
    color: var(--textsblack);
    font-family: var();
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}
.card__text{
    color: var(--textsblack);
    font-family: var(--fm-3);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 340px;
    opacity: 0.699999988079071;
    text-align: justify;
}
.card__info{
    color: var(--textsblack);
    font-family: var(--fm-4);
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    opacity: 0.699999988079071;
}
.img{
    margin-right: 8px;
}
.data{
    margin-right: 20px;
}

.customers__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    column-gap: 30px;
}
.menu__numbers{
    color: var(--commentsblack);
    font-family: var(--fm-3);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.customers__logo{
    position: absolute;
    bottom: -50px;
    right: 380px;
}

p {
    margin-top: 0;
 margin-bottom: 0; 
}

/* Customers */



/* News */
.news{
    width: 100%;
}
.news__basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 85px;
    row-gap: 8px;
}
.news__mini-title{
    font-family: var(--fm-1);
    color: var(--commentsblack);
    font-size: 23px;
    font-weight: 700;
    line-height: 29.9px;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.news__title{
    font-family: var(--fm-1);
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.44px;
    text-transform: capitalize;
    line-height: 62.4px;
}
.news__cards{
    display: flex;
    column-gap: 35px;
}
.news__card{
    width: 410px;
    height: 584px;
    border: 1px solid #2424241A;
    border-radius: 15px;
}
.news__card-desc{
    padding: 20px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.news__card-title{
    width: 332px;
    color: var(--commentsblack);
    font-family: var(--fm-1);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}
.news__card-text{
    color: #AAA;
    font-family: var(--fm-2);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 350px;
    text-align: justify;
}
.news__card-info{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.info-link{
    color: var(--primary-color);
    font-family: var(--fm-1);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.64px;
}
.info-data{
    color: var(--commentsblack);
    font-family: var(--fm-2);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}
.news__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 120px 0;
}

.btn{
    color: var(--commentsblack);
    font-size: 16px;
    font-family: var(--fm-2);
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 28px;
    text-transform: capitalize;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    padding: 8px 35px;
    text-align: center;
    transition: .5s;

}
.btn:hover{
    background: var(--primary-color);
    color: var(--white);
}
/* News */


/* Premier */
.premier{
    position: relative;
    margin-bottom: 120px;
}
.premier__img{
    width: 100%;
    height: 100%;
}
.premier__content{
    opacity: 0.4000000059604645;
    background: #111;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Premier */

/* Instagram */
.instagram{
    background: #F4F4F4;
    padding: 130px 0;
}
.instagram__icon{
    width: 40px;
    height: 10px;
    margin: 8px 0;
}
.instagram__desc{
    display: flex;
    flex-direction: column;
    padding-left: 250px;
}
.instagram__mini-title{
    color: var(--commentsblack);
    font-family: var(--fm-1);
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.92px;
    line-height: 29.9px;
    text-transform: capitalize;
}
.instagran__title{
    color: var(--commentsblack);
}
.instagram__text{
    font-family: var(--fm-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.64px;
    color: #AAA;
    width: 491px;
    margin-top: 24px;
}
.instagram__btn{
    justify-content: flex-start;
}

.instagram__container{
    display: flex;
    align-items: center;
    column-gap: 64px;
    flex-shrink: 0;
    
}
.instagram__img{
    overflow-x: scroll;
    padding-bottom: 15px;
}
.instagram__img::-webkit-scrollbar{
    width: 7px;
    height: 7px;
   
}
::-webkit-scrollbar-track{
    background: #c58d95;
}
::-webkit-scrollbar-thumb{
    width: 7px;
    height: 7px;
    background:var(--primary-color);
    border-radius: 6px;
}
.instagram__photos{
    display: flex;
    column-gap: 20px;
    scroll-snap-type: x mandatory;
  
}
.photos__img{
    width: 301px;
    height: 447px;
    border-radius: 14px;
    position: relative;
}
  
.card__hover{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 2px solid rgba(36, 36, 36, 0.20);
    background: #131010;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__hover:hover{
    opacity: 0.5;
}
.insta-logo{
    width: 52px;
    height: 52px;
}
.photos__img .img{
    width: 301px;
    height: 447px;

}
/* Instagram */



/* contact */

.contact{
    height: 400px;
}
    .contact__container{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        background: var(--primary-color);
        padding: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
        transform: translateY(165px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.20);
    }
    .contact__mini-title{
        font-family: var(--fm-1);
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.92px;
        line-height: 29.9px;
        color: var(--white);
    }
    .contact__title{
        color: var(--white);
        text-align: center;
        font-family: var(--fm-1);
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 1.44px;
        line-height: 62.4px;
    }
    .contact__text{
        color: var(--white);
        font-family: var(--fm-2);
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.64px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    .contact__email{
        width: 635px;
        border-radius: 100px;
        color: white;
        background: transparent;
        border: 1px solid rgba(245, 239, 219, 0.50);
        padding: 12px 0;
        font-family: var(--fm-1);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.64px;
        line-height: 28px;
        padding-left: 19px;
    }
    .buttons{
        display: flex;
        column-gap: 32px;
        align-items: center;
    }
    .contact__btn{
        background: var(--primary-color);
        border: 1px solid white;
        color: white;
    }
/* contact */




.footer{
    background:  var(--primary-color) ;
    
}
.footer__container{
    min-height: 610px;
    height: 100%;
    display: flex;
    column-gap: 80px;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 60px;
}
.contact__us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-90px);
}
.working__hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-65px);
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 38px;
}

.title{
    color: var(--white);
    font-family: var(--fm-1);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.28px;
    line-height: 35px;
}
.text{
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--fm-2);
    line-height: 26px;
    letter-spacing: 0.64px;
}
.text__logo{
    width: 438px;
    text-align: center;
}
.footer__logo-img{
    width: 336px;
    height: 117px;
}
.logo__icons{
    display: flex;
    column-gap: 16px;
}
.footer__icon{
    color: var(--white);
}
.contact__adress{
    margin: 20px 0 10px 0;
}
.text.adress1{
    margin-top: 20px;
}
.text.adress2{
    margin-bottom: 10px;
}

.footer__text{
    text-align: center;
    padding-bottom: 30px;
    transform: translateX(30px);
}




